.button {
  background-color: transparent;

  border: 2px solid gray;
  margin: 5px 0;
  padding: 10px;
  border-radius: 20px;
  color: antiquewhite;
  transition: all ease-in 0.06s;
  cursor: pointer;
}

.button:hover {
  transform: translate(5px);
  opacity: 0.8;
}

.active {
  background-color: aqua;
}

.wrong {
  background-color: tomato;
}