.button {
  background-color: tomato;
  border: none;
  margin: 5px 0;
  padding: 10px;
  border-radius: 20px;
  color: antiquewhite;
  transition: all ease-in 0.06s;
  cursor: pointer;
}

.button:hover {
  transform: translate(5px);
  opacity: 0.8;
}