.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.logo {
  width: 150px;
}

.heading {
  font-family: 'Raleway Dots', cursive;
  color: orange;
  font-size: 80px;
  padding-left: 20px;
}